{% extends 'base/base.html' %}

{% block contenido %}
<table class="table table-bordered">
    <thead>
        <tr>
            <td>#</td>
            <td>Rut</td>
            <td>Nombre</td>
            <td>Email</td>
            <td>Telefono</td>
            <td>Región</td>
            <td>Comuna</td>
        </tr>
    </thead>
    <tbody>
        {% if contactos %}
        {% for contacto in contactos %}
        <tr>
            <td>{{ contacto.id }}</td>
            <td>{{ contacto.rut }}</td>
            <td>{{ contacto.com_name }}</td>
            <td>{{ contacto.email }}</td>
            <td>{{ contacto.phone }}</td>
            <td>{{ contacto.reg }}</td>
            <td>{{ contacto.city }}</td>
        </tr>
        {% endfor %}
        {% else %}
        <h1>No hay registro de contacto</h1>
        {% endif %}
    </tbody>
</table>
{% endblock %}